<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td>
    <% if product.image.attached? %>
    <%= image_tag product.image, class: "img-150" %>
    <% end %>
  </td>
  <td><%= product.unit_price %> <%= t ".denominations" %></td>
  <td><%= product.category.name %></td>
  <td><input type="checkbox" <% if product.is_discontinued %>checked<% end %> disabled></td>
  <td><input type="checkbox" <% if product.is_featured %>checked<% end %> disabled></td>
  <td>
    <%= link_to t(".btn_edit"), "#", class: "btn btn-primary" %>
    <%= link_to t(".btn_delete"), "#", class: "btn btn-danger" %>
  </td>
</tr>
